/* styles.css */
body {
    background-image: url(./images/bgimg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 0px;
}
#navbar li {
    display: inline-block;
    margin-right: 15;
    margin-left: 20px
}
#navbar a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-bottom: 3px solid transparent;
  
}
#navbar a:hover{
    border-bottom: 3px solid #009a5f;

}
#imggg:hover {
    border-bottom: none;
}

#navbar img{
    margin-right: 700px;
    margin-left: 30px;
    width: 55px;
}

header h1{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

header p{
    color: white;
    text-align: center;
    font-size: 13px;

}
.rounded-button1 {
    background-color: #009a5f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

.rounded-button2 {
    background-color: transparent;
    border-width: 2px;
    border-color: #009a5f;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}
.buttonsss {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.rounded-button2:hover {
    background-color: #009a5f;
    color: white;

}